.container--criminal-list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: azure;
}

.header--criminal-list {
      display: flex;
      justify-content: center;
      align-items: center;
}

.container--criminal-cards {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-evenly;
      justify-self: center;
      /* margin: -1rem; */
      max-height: 600px;
      width: auto;
      overflow-y: scroll;
}

.container--criminal-card {
      display: flex;
      flex-direction: column;
      flex-basis: 27%;
      background-color: rgb(158, 203, 203);
      margin: .5rem;
}

.container--criminal-card-details {
      display: flex;
      flex-direction: column;
      padding: 1rem;
      margin-bottom: -.5rem;
      color: black;
}

.criminal-card-detail {
      margin-top: .5rem;
}

.criminal-card-detail--name {
      font-size: 1.5rem;
      font-weight: 450;
      text-align: center;
}
.each-facility {
    font-size: small;
    margin: .35rem 0;
}

.container--criminal-card-button {
      display: flex;
      justify-content: center;
      height: 30%;
      width: 100%;
}

.button--associates {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      cursor: pointer;
      font-weight: 40;
      font-size: -.1rem;
      padding: 1rem .5rem;
}

.container--criminal-card-button:hover {
      background-color: rgb(147, 189, 154);
      color: linen;
      transition: 1.5s;
}

