@import "./criminal.css";
@import "./pop-up.css";
@import "./header.css";

* {
      /* border: 1px dotted hotpink; */
}

body {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      background-color: azure;

}

.main {
      background-color: rgb(210, 242, 255);
      display: flex;
      flex-flow: column wrap;
}

.header {
      background-color: rgb(158, 203, 203);
      display: flex;
}